.App-Console{
	min-height: 100vh;
	background-color: #f3f3f2;
}

.App-Console ul li {
	width: 377px;
	height: 200px;
	float: left;
	display: inline-block;
	background-color: #fff;
	box-shadow: 2px 2px 6px 0 rgba(0,0,0,.1);
	margin: 20px 20px; 
	padding: 20px;
}

.pj_add {
	display: block;
	width: 350px;
	height: 220px;
	padding-top: 65px;
	text-align: center;
	cursor: pointer;
	border: 1px dashed #e3e3e3;
	box-shadow: 1px 1px 2px 0 rgba(0,0,0,.08);
	background: #fff;

	background: url(../assets/images/create.png) no-repeat center center;
	background-size: 100px auto;
}

.pj_add span {
	text-align: center;
	margin: 0 auto;
	cursor: pointer;
}

.pj_item .info {
	height: 120px;
	font-size: 15px;
}

.pj_item button {
	position: relative;
	margin-right: 20px;
}

.pj_item .title {
	color: #3dc2d5;
	font-size: 20px;
}

.pj_item .appkey {
	color: #0b70af;
}